*{
    margin: 0px;
    padding: 0px;
    list-style: none;

}

body{
    background-color: rgb(168, 255, 226);
}

header{
    border: 1px solid black;
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: aquamarine;
    align-items: center;

    
}

a{
    text-decoration: none;
    
}



section{
    display: flex;
    padding: 10px;
}

.itens{
    border: 1px solid black;
}